$sidebar_panel_bgcolor: #fff;

.sidebar-panel{
  background-color: $sidebar_panel_bgcolor;
  -webkit-backface-visibility: hidden;
  width: 12.5rem;
  z-index: 1050;
  & >.brand {
    background-color: $sidebar_panel_bgcolor;

    a{
      color: #59595A;
    }
  }

  & > nav ul {
    padding: 0;
    list-style: none;
    width: 12.5rem;

    li.menu-accordion>a::before {
      box-shadow: 0 0 0 .0625rem rgba(0,0,0,.2);
      content: '';
      position: relative;
      display: inline-block;
      float: right;
      margin-left: .3125rem;
      margin-top: .25rem;
      width: .375rem;
      height: .375rem;
      border-radius: 50%;
    }

    li{
      position: relative;
      display: block;

      ul {
        max-height: 0;
        overflow: hidden;
        display: block;
        width: auto;
      }
      ul li a {
        padding: .625rem 1.563rem .625rem 3.588rem;
      }
    }
    & > li{
      & > a{
        display: block;
        text-align: left;
        line-height: 1;
        position: relative;
        padding: .8125rem 1.563rem;
        color: #59595A;
      }
      & > a[class*=" icon-"], & > a [class^=icon-]{
        padding-right: 1.2375rem;
        width: 1.875rem;
        text-align: center;
        font-weight: 700;
      }

      & > a:focus, & > a:hover, & > a:active{
        color: #000;
      }
    }
  }

  .small-menu-visible {
    display: none!important;
    visibility: hidden;
  }

}
.brand {
  position: relative;
  height: 3.438rem;

  .brand-logo {
    margin-top: 1.269rem;
    margin-bottom: 1.269rem;
    display: inline-block;
    padding: 0 1.563rem;
    font-size: .875rem;
    text-transform: uppercase;
    line-height: 1;
  }

  .toggle-apps {
    float: right;
    padding: 1.094rem 1.563rem;
  }
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}