$bootstrap-sass-asset-helper: true;
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';
$fa-font-path:   "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

$simple-line-font-path: "~simple-line-icons/fonts/";
@import "~simple-line-icons/scss/simple-line-icons.scss";


$bgcolor: #ccc;

.App {
  text-align: center;
  background:url('./../images/test.png');
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: $bgcolor;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


// 基本样式
@import "base/base";

// 首页布局
@import "containers/app";

// 左边菜单容器
@import "containers/main_sidebar";

// 主面板
@import "containers/main_panel";
